/*------ HTML ------*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .9px;
}

p {
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  color: #afafaf;
  margin: 0px;
}

/* Headings */

.big-heading {
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 10px;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

.x-face {
  margin: auto;
  text-align: center;
  width: 30%;
}

#muslimName {
    letter-spacing: 4px;
}

/* containers */

.container-fluid {
  padding: 7% 15%;
}

.container-title {
  padding: 7% 15% 15%;
}

.container-time {
  padding: 3% 10%;
}

.container-letter {
  padding: 3% 25%;
}

/* Sections */

.colored-section {
  background-color: #000000;
  color: #ffff;
}

.white-section {
  background-color: #f5eded;
}


/* Navagation Bar */

.nav-thing {
	
}

nav {
	background-color: black;
}

.nav-link {
	color: #fff;
}

.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #fff;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: center;
}

/* Title Image */

.title-img {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 45%;
}

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0;
}

/* Timeline Section */

#timeline {
  position: relative;
}

.t-title {
  font-size: 3rem;
  letter-spacing: 5px;
}

.tl-box {
  margin: 1% auto 1%;
  padding: 2% 5% 3%;
}

/* Legacy */

#legacy {
  padding: 5% 5% 8%;
}

.legacy-p {
  margin: 3% 25%;
  text-align: justify;
}

/* Testimonials */

#quotes {
  background-color: #d72323;
}

.testimonial-text {
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  margin: auto;
  width: 65%;
}

.quote {
  font-size: 1.5rem;
}

/* Pricing Section */

#pricing {
  font-size: 1.2rem;
  padding: 100px;
}

.pricing-sub {
  margin-top: 1%;
}

.pricing-names {
  font-weight: bold;
  font-size: 2.5rem;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.pricing-col {
  padding: 3% 2%;
}

/* Letter */

#letter h1 {
  padding: 5% 5% 1%;
}

#letter p {
  text-align: justify;
  margin-bottom: 4%;
}

/* Footer Section */

#footer {
  background-color: #414141;
  padding: 1% 10%;
}

.icons-social {
  color: #d72323;
  font-size: x-large;
  margin: 1rem;
}

.icons-social:hover {
  color: #ff4c68;
}

@media (max-width: 1025px) {

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
  }

  p {
      text-align: justify;
  }

  /* Navagation Bar */

  .navbar {

  }

  /* containers */

  .container-time {
    padding: 3% 1%;
  }

  #title {
    text-align: center;
  }

  .title-img {
    transform: rotate(0);
    position: static;
  }

  .x-face {
    width: 55%;
  }

  /* Testimonial */

  .testimonial-text {
    font-size: 1.3rem;
    line-height: 1.5;
    margin: auto;
    width: 95%;
  }

  .quote {
    font-size: 1rem;
  }

  /* Letter */

  .container-letter {
    font-size: 1rem;
    padding: 3% 7%;
  }

  #letter h1 {
    font-size: 2rem;
    padding: 5% 1% 1%;
  }

  #letter p {

  }

  /* Legacy */

  #legacy-id {
    padding: 3% 5% 1%;
  }

  .leg-title {
    font-size: 2rem;
  }

  .legacy-p {
    margin: 3% 8%;
    text-align: left;
  }

  .container-legacy {
    margin: opx;
  }
  .nav-thing {
	
}

}
